/* src/styles/BigButton.css */
.big-button {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.big-button:hover {
    background-color: #437B93;
}
