/* src/styles/BigButton.css */
.big-button {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: #437B93;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.big-button:hover {
    background-color: #437B93;
}