/* Inventario */
.inventario-container {
    padding: 20px;
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
}

.filtros-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabla-container {
    margin-bottom: 20px;
}

.acciones-container {
    display: flex;
    gap: 8px;
}

.acciones-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.inventario-table {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}