/* Aplicar los estilos solo dentro de .graficas-container */
.graficas-container .parent1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.graficas-container .div1 {
    grid-column: span 5 / span 5;
}

.graficas-container .div2 {
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    grid-row-start: 2;
}

.graficas-container .div3 {
    grid-column-start: 3;
    grid-row-start: 5;
}

.graficas-container .titulo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
}